/* Image comparison */
/* ---------------- */

/* Desktop viewport
 * Don't use media query with viewport as 
 * we want to keep this layout even when user resize their browser.
 */

.image-comparison nav.mobile-tab {
	display: none;
}

.image-comparison {
	position: relative;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

/* before/after images side by side */
.image-comparison .img-before-div,
.image-comparison .img-after-div {
	float: left;
	width: 50%;
}
	/* clear float */
.image-comparison:after {
    content: '';
    display: block;
    clear: both;
}

/* create square container */
.image-comparison .img-before-div .square-container,
.image-comparison .img-after-div .square-container {
}

/* dimension */
.image-comparison .img-before-div {
	border-right: 1px solid white;
	box-sizing: border-box;
}
.image-comparison .img-after-div {
	border-left: 1px solid white;		
	box-sizing: border-box;
}	

.image-comparison canvas#smallBeforeCanvas,
.image-comparison canvas#smallAfterCanvas {
	width: 100%;
	height: 100%;
}

/* before/after label */
.image-comparison .before-label,
.image-comparison .after-label {
    position: absolute;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    background-color: rgba(0, 0, 0, 0.88);
    letter-spacing: 2px;
    text-align: center;    
}
.image-comparison .before-label {
    padding-left: 20px;
    padding-right: 20px;
    top: 0px;
    left: 0px;    
    transform-origin: top left;
    transform: rotate(-90deg) translateY(-100%)  translateX(-100%);
}
.image-comparison .after-label {
    /* after text is smaller than before text so we need more padding so before/after has same width */
    padding-left: 27px;
    padding-right: 27px;

    top: 0px;
    right: 0px;
    transform: rotate(90deg) translateY(-100%) translateX(100%);
    transform-origin: top right;
}